*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    text-align: center;
    margin-top: 30%;
}
button{
    background: #000000;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}
.btn:hover {
    background: #171818;
    text-decoration: none;
  }
  h2{
    margin-top: 4%;
    font-size: 30px;
    text-decoration: underline;
    color: pink;
  }
.copycode {
    margin-top: 3%;

   
  }
  